h1 {
    text-align: center;
    color: azure;
    background-color: transparent;
}

h2 {
    text-align: center;
    color: azure;
    background-color: transparent;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('found.gif');
    background-size: cover;
    margin: 0;
    padding: 20px;
    align-items: center;
}

.btn {
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: transparent;
    height: 50px;
    width: 100%;
    max-width: 200px;
    color: #3498db;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
}

footer {
    background-color: transparent;
    color: black;
    padding: 10px;
    text-align: center;
}

.i1 {
    display: block;
    margin: 0 auto; 
    width: 80px; 
    height: auto;

@media only screen and (min-width: 600px) {
    .btn {
        width: 200px; 
    }
}
