* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1a1a1a;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 60px 10px;
  background: linear-gradient(45deg, #8a2387, #e94057, #f27121); /* Morado y Rojo */
  color: #ffffff;
}

header h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid orange;
  animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

nav {
  text-align: center;
  margin-top: 20px;
  background: linear-gradient(45deg, #3a1c71, #d76d77, #ffaf7b); /* Morado y Rojo */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav a {
  font-size: 1.2rem;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

nav a:hover {
  background-color: #e94057;
  transform: scale(1.1);
  border-radius: 5px;
}

section {
  padding: 60px 20px;
  text-align: center;
  background-color: #282828;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

section h2 {
  color: #e94057; /* Rojo */
  font-size: 2.5rem;
}

section p {
  color: #dddddd;
  border: 2px solid #8a2387; /* Morado */
  padding: 15px;
  background-color: #333333;
  border-radius: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.social-icons a {
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.social-icons a img {
  width: 50px;
  border-radius: 50%;
}

.social-icons a img:hover {
  transform: scale(1.3);
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 2rem;
  }
  nav a {
    padding: 8px 12px;
    font-size: 1rem;
  }
  section {
    padding: 20px 10px;
  }
  .social-icons a img {
    width: 30px;
  }
}

header, nav {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

section {
  transform: translateX(-100%);
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

#blog {
  padding: 40px 20px;
  text-align: center;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  margin: 20px;
  padding: 20px;
  border: 1px solid #e94057; /* Rojo */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(233, 64, 87, 0.2); /* Sombra roja */
  background-color: #282828;
}

article h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #e94057; /* Rojo */
}

article p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #dddddd;
}
