h1 {
    text-align: center;
    color: azure;
    background-color: transparent;
}

h2 {
    text-align: center;
    color: azure;
    background-color: transparent;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('found.gif');
    background-size: cover;
    margin: 0;
    padding: 20px;
    align-items: center;
}

.btn {
    cursor: pointer;
    border: 1px solid rgb(78, 4, 56);
    background-color: transparent;
    height: 50px;
    width: 100%;
    max-width: 200px;
    color: #FF0000;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(129, 2, 134, 0.6);
    margin-bottom: 10px;
}

footer {
    font-size: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
}

.i1 {
    display: block;
    margin: 0 auto; 
    width: 80px; 
    height: auto; 
}
.txt1{
    font-weight: bold;
    color: white;
    font-size: 17px;
}

@media only screen and (min-width: 600px) {
    .btn {
        width: 200px; 
    }
}
